/*
200
300
400
500
700
800
*/

body {
  font-family: var(--fulie), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page-wrap{
    max-width: 1000px;
    margin: 0 auto;
}

.heading{
    font-variation-settings: 'wght' 800, 'opsz' 14;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
}
.weights{
    font-size: 30px;
}
.font-extralight{
    font-variation-settings: 'wght' 200;
}
.font-light{
    font-variation-settings: 'wght' 300;
}
.font-regular{
    font-variation-settings: 'wght' 400;
}
.font-medium{
    font-variation-settings: 'wght' 500;
}
.font-bold{
    font-variation-settings: 'wght' 700;
}
.font-extrabold{
    font-variation-settings: 'wght' 800;
}
.font-size-30{
    font-size: 30px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-10{
    font-size: 10px;
}
h2{
    margin-bottom: 5px;
}